{% extends "base.html" %}
{% block content %}
<h2>Locations</h2>
<form method="post" class="mb-4">
    <input type="text" name="location_id" placeholder="Location ID" required class="form-control mb-2">
    <input type="text" name="location_name" placeholder="Location Name" required class="form-control mb-2">
    <button type="submit" class="btn btn-success">Add Location</button>
</form>
<table class="table table-bordered">
    <thead>
        <tr><th>ID</th><th>Name</th></tr>
    </thead>
    <tbody>
        {% for loc in locations %}
        <tr>
            <td>{{ loc[0] }}</td>
            <td>{{ loc[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
