{% extends "base.html" %}
{% block content %}
<h2>Movement History - {{ product[0] }}</h2>
<table class="table table-bordered">
    <thead>
        <tr><th>Date</th><th>Qty</th><th>From</th><th>To</th><th>Status</th></tr>
    </thead>
    <tbody>
        {% for m in movements %}
        <tr>
            <td>{{ m[0] }}</td>
            <td>{{ m[1] }}</td>
            <td>{{ m[2] or 'N/A' }}</td>
            <td>{{ m[3] or 'N/A' }}</td>
            <td>{{ m[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
